In [3]:
import numpy as np
import pandas as pd

# Pandas
- Para crear una serie temporal se usa el modulo Series de pandas

series = pd.Series([1,2,3,4,5,6,6,7])

In [ ]:
series = pd.Series([1,2,3,4,5,6,6,7])
series

# Dataframe

In [ ]:
lista=["hola","mundo", "Math"]
df=pd.DataFrame(lista)
print(df)

In [67]:
data={"nombres": ["alejo","daniel", "maria","jose"],
                "edad" : [10,20,30,40],
                "pais": ["Col","Bz","Mx","Mx"]}
df=pd.DataFrame(data)
df

  nombres  edad pais
0   alejo    10  Col
1  daniel    20   Bz
2   maria    30   Mx
3    jose    40   Mx

Â¿Como escoger columans particulares?

df["nombre"]

In [28]:
df[["nombres"]]

df[["nombres","pais"]]

  nombres pais
0   alejo  Col
1  daniel   Bz
2   maria   Mx
3    jose   Mx

In [5]:
data=pd.read_csv("Basedatos/canciones.csv")
data.head()

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,0.449,7.0,-9.211,1.0,0.1090,0.0332,0.000083,0.552,0.357,77.169,198973.0,4.0
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8.0,-4.880,1.0,0.1450,0.2580,0.003720,0.123,0.473,75.023,166606.0,4.0
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,0.535,5.0,-6.090,0.0,0.0898,0.1170,0.000066,0.131,0.140,159.847,218147.0,4.0
3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,0.559,8.0,-8.011,1.0,0.1170,0.5800,0.000000,0.112,0.439,140.124,221440.0,4.0
4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,0.626,1.0,-5.833,1.0,0.1250,0.0589,0.000060,0.396,0.350,91.030,217925.0,4.0

# Â¿Como llamar una columna?

In [38]:
    colum=data.artists
    colum

0            Drake
1     XXXTENTACION
2      Post Malone
3      Post Malone
4            Drake
          ...
95       Zac Efron
96    Clean Bandit
97       DJ Khaled
98            ZAYN
99      Dean Lewis
Name: artists, Length: 100, dtype: object

Para tomar un individuo con sus atributos usamos data.iloc[i] donde i e s el iesima fila

In [ ]:
data.iloc[4]

Para obtener las columnas del dataframe se usa data.columns

In [ ]:
data.columns

In [15]:
data.sort_index(axis=0,ascending=False)
data[["name","artists","energy"]].sort_values(by="artists",axis=0,ascending=True)

                                      name              artists  energy
23                              Youngblood  5 Seconds of Summer   0.854
55  FEFE (feat. Nicki Minaj & Murda Beatz)              6ix9ine   0.387
88                                Downtown               Anitta   0.679
60                                    2002           Anne-Marie   0.683
65                          God is a woman        Ariana Grande   0.658
..                                     ...                  ...     ...
38                                 changes         XXXTENTACION   0.308
98             Dusk Till Dawn - Radio Edit                 ZAYN   0.437
95                       Rewrite The Stars            Zac Efron   0.619
14                              The Middle                 Zedd   0.657
35         Eastside (with Halsey & Khalid)         benny blanco   0.680

[100 rows x 3 columns]